<!--<div box titulo="Totais" cor="info">-->

	<div class="row">
		<div class="col-md-12">
			<div dxselectv titulo="Mercaderia" opcoes="mercaderias" modelo="mercaderia" orientacao="vertical"></div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-4">
			<div dxselectv titulo="Embalaje" opcoes="embalajes" modelo="embalaje" orientacao="vertical"></div>
		</div>

		<div class="col-md-4">
			<div dxinputv tipo="text" modelo="cantidad" titulo="Cantidad" dica="Cantidad"></div>
		</div>

		<div class="col-md-4">
			<div dxinputv tipo="text" modelo="valor" titulo="Valor Unitario" dica="valor"></div>
		</div>
 

	</div>

 
	<div class="box-footer">
		<button type="button" class="pull-right btn bg-green margin" ui-sref="wiz1">Finalizar</button>
	</div>	
	
<!--</div>-->