<div box titulo="Assistente de la Factura" cor="info">

        <div class="row">
                <div class="col-md-12">

                        <ol class="bwizard-steps clearfix clickable" role="tablist">
                                <li role="tab" ui-sref="wiz1" ui-sref-active="active">Datos</li>
                                <li role="tab" ui-sref="wiz2" ui-sref-active="active">Itens</li>
                                <li role="tab" ui-sref="wiz3" ui-sref-active="active">Adicionais</li>
                                <li role="tab" ui-sref="wiz4" ui-sref-active="active">Financeiro</li>
                                <li role="tab" ui-sref="wiz5" ui-sref-active="active">Totais</li>
                        </ol>

                </div>
        </div>
        <br/>
        
        <!--<div class="box-footer">-->
        <div ui-view="">
        <!--</div>-->
        
</div>
        
</div>

